<!-- <form [formGroup] = "userForm" (ngSubmit)="onFormSubmit()">
    <div [ngClass]= "{'is-invalid' : userForm.get('name').touched && userForm.get('name').invalid}" >
        Name : <input formControlName = "name" placeholder="Name">
    </div>
    <span class="invalid-feedback">
        Name is required
    </span>
    E-mail : <input formControlName = "email" placeholder="Email">
    <form formGroupName = "payementInformations">
        TypeCarte : <input formControlName = "typeCarte" placeholder="TypeCarte">
        Numero : <input formControlName = "numero" placeholder="Numero" type="number">
        DateExpiration : <input formControlName = "dateExpiration" placeholder="DateExpiration" type="number">
        code : <input formControlName = "code" placeholder="Code" type="number">
    </form>
</form> -->
<form>
<p>
    <mat-form-field appearance="legacy">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</form>
  <!-- <p>
    <mat-form-field appearance="standard">
      <mat-label>Standard form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> -->
   
